*{
    padding: 0;
    margin: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
#nav{
    background-color: #252e30;
}
#nav ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 20px 20px;
    text-transform: uppercase;
    transition: .6s;
    
}
#nav ul li:hover > a{
    color: rgb(7, 66, 74);
    background-color: #cceef4;
    
}
#nav ul li ul{
    background: none;
    border: none;
    border-radius: 0;
}
#nav ul li ul li:hover a{
    background-color: rgb(7, 66, 74);
    background-color: #79cedd;
}
#banner{
    background: url(../image/banner.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
}
#banner .banner-content h1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    border-top: solid white;
    border-bottom: solid white;
    margin-bottom: 45px;
    text-transform: uppercase;
}
#banner .container .banner-content a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: solid white;
    padding: 13px 33px;
    text-transform: uppercase;
}
/*Banner Section ENd*/


/*Three_Content Start*/
 
#three-content .subitem h2{
    color: #566366;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    }
    #three-content .subitem h6{
        color: #919191;
        font-weight: 400;
        font-size: 18px;  
    
    }
    /*Three Content Section End*/

    /*About Section*/
    #fullabout{
        background-color: #f2f2f1;
    }
    .contentstepone h2{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        color: #566366;
        
    
    }
    .contentstepone p{
        color: #919191;
        font-size: 18px;
        font-weight: 400;
    }
    
    
    .iconcontent h3{
        color: #566366;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .iconcontent h6{
        color: #919191;
        font-size: 18px;
        font-weight: 400;
    }
    .iconcontent{
        margin-bottom: 2%;
    }
    .imgoficon{
        margin-bottom: 2%;
    }
/*About Section End*/


/*Skill Section start*/
#skillstep .manyskills .backgroundhundred{
    background-color: #f2f2f1; 
    width: 100%;
    margin-top: 6px;
    margin-bottom: 15px;
 }
 #skillstep .manyskills .hundred{
    background-color: #2ecc71;
    color: white;
    text-align: right;
}
#skillstep .manyskills .ninety{
    width: 90%;
}
#skillstep .manyskills .eighty{
    width: 80%;
}
#skillstep .manyskills .seventy{
    width: 70%;
}
#skillstep .manyskills .backgroundhundred{
text-align: right;
margin-top: 15px;
margin-bottom: 35px;
}
#skillstep .myskill h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #566366;
}
#skillstep .myskill p{
    color: #919191;
    font-size: 18px;
    font-weight: 400;
}
#skillstep .manyskills h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: #566366;
}
#skillstep a{
    padding: 21px 42px;
    color: #2ecc71;
    border: solid #2ecc71;
}
#skillstep .myskill p{
    margin-bottom: 42px;
}
/*Skill Section End*/

/*Resume Section Start*/
#resume{
    background-color: #f2f2f1;
}
.resumecontent h2{
    font-weight: 700;
    font-size: 30px;
    color: #566366;
    text-transform: uppercase;

}
.resumecontent p{
    color: #919191;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.resumecontent a{
    padding: 21px 42px;
    color: #2ecc71;
    border: solid #2ecc71;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;}

    .myeducation h2{
        font-weight: 700;
        font-size: 30px;
        color: #566366;
      text-transform: uppercase;
    }
    .myeducation p{
        color: #919191;
        font-size: 18px;
        font-weight: 400
    }
    .different_Qualification h3{
        font-weight: 700;
        font-size: 22px;
        color: #566366;
      text-transform: uppercase;
    }
    .different_Qualification h6{
        color: #919191;
        font-size: 18px;
        font-weight: 400
    }
    .years{
        background-color: #2ecc71;
        width: 71px;
        text-align: center;
        color: white;
        padding: 3px 8px;
        margin: 18px 0;
          
    }
    .fouryears{
        background-color: #2ecc71;
        width: 80px;
        text-align: center;
        color: white;
        padding: 5px 8px;
        margin: 18px 0; 
    }
.different_Qualification{
    border-bottom: solid #dcdada 1px;
    margin-bottom: 15%;
}
#educationstep .container .row{
    border-bottom: solid #dcdada 2px;
}
    /*Resume Section End*/
#work-exp{
    padding: 100px 0;
}
.left-info h3{
    font-size: 30px;
    color: #566366;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.left-info p{
    font-size: 18px;
    color: #566366;
}
.right-info h4{
    font-size: 22px;
    color: #566366;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 21px;
}
.right-info p{
    font-size: 18px;
    color: #566366;
    margin-bottom: 21px;
}
.right-info .gpa{
    background: #2dcb71;
    color: #fff;
    display: inline;
    padding: 10px;
}
.right-info.hr{
    color: #919191;
}
.right-info{
    margin-top: 20px;
}
.right-info p{
    margin-top: 20px;
}
#w-experience .right .info-2{
    margin-top: 98px;
}
/*w-experience sectioendn End*/

#exp-box{
    background: #f1f1f1;
    padding: 100px 0;
}
.exp-box h4{
    font-size: 18px;
    color: #566366;
    text-transform: uppercase;
    font-weight: 700;
    
}
.exp-box p{
    font-size: 24px;
    color: #566366;
    padding-top: 50px;
    padding-bottom: 50px;
}

#mywork{
    padding: 80px 0;
}
.work-info h2{
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
}
.work-info p{
    font-size: 18px;
    color: #919191;
    padding: 48px 80px;
}
#mywork .mywork_item{
    position: relative
}
#mywork .mywork_item .overlay{
    position: absolute;
    background: rgba(45, 203, 112, 0.55);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .05s;
}
.mywork_item img{
    padding-bottom: 40px;
}
#mywork .mywork_item:hover .overlay{
    opacity: 1;
    visibility: visible;
}
    /*Contact Section Start*/
    #contactme{
        background-color: #252e30;
    }
    form, p{
        color: white;
    }
    .formstep #name, #email{
        width: 540px;
        height: 50px;
        background-color: #4b5456;
        border: none;
    }
    .formstep #textarea{
        width: 540px;
        height: 250px;
        background-color: #4b5456;
        border: none;
    }
    span{
        color: #4b5456;
    }
    .contactdetails h2{
        font-weight: 700;
        font-size: 30;
        text-transform: uppercase;
        color: white;
    }
    .contactdetails p, h4, a{
        color: #919191;
    }
    .contactdetails h6{
        color: white;
    }
    
    button{
        background-color: #191f21;
        color: white;
        text-transform: uppercase;
        padding: 15px 15px;
        border: none;
        font-size: 18px;
        font-weight: 700;
    }